@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto'), url('Roboto.woff') format('woff');
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

.slide {
    display: none;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.5s;
    z-index: 30;
}

.navigation {
    margin: auto;
    width: 75%;
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    font-size: 20px;
    z-index: 31;
}

.nav {
    transition: 0.3s;
}

.nav:hover {
    text-shadow: 0px 0px 30px white;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

#fleche {
    opacity: 0;
    overflow: hidden;
    z-index: 30;
    transform: scale(0.12);
    position: fixed;
    bottom: -150px;
    left: -150px;
    background: none;
    border: none;
    transition: 0.5s;
}

#fleche:hover {
    transform: scale(0.13);
}

.visibility {
    opacity: 1;
}

a:hover {
    text-shadow: 0px 0px 30px white;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: white;
    background-color: #1a1a1a;
    font-family: Roboto;
    scroll-behavior: smooth;
    letter-spacing: 1px;
}

h1 {
    font-size: 65px;
    width: 650px;
    position: relative;
    margin: auto;
}

.slide_inside {
    display: table;
    position: relative;
    width: 100%;
    background-size: cover;
}

#slide1 {
    background: url("img/bg_clouds.jpg") center 0 no-repeat fixed;
    height: 100%;
}

#slide2 {
    background: url("img/bg_thunder.jpg") center 0 no-repeat fixed;
}

#slide3 {
    background: url("img/bg_waves.jpg") center 0 fixed;
}

#slide4 {
    background: url("img/bg_squares.jpg") center 0 no-repeat fixed;
}

#slide5 {
    background: url("img/bg_lines.jpg") center 0 no-repeat fixed;
}


.sousTitre {
    display: block;
    font-size: 35px;
    font-weight: bold;
    width: 600px;
    height: 40px;
    margin: 20px auto;
    padding-bottom: 5px;
}

#landingPageContent {
    text-align: center;
    position: relative;
    top: 100px;
    z-index: 15;
    margin: 270px;
}

#links {
    font-size: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 250px;
    margin: 400px auto 30px;
    transition: 0.5s;
}

#links>a:hover {
    text-shadow: 0px 0px 30px white;
}

#top_pres {
    position: relative;
    top: -63px;
}

#top_cv {
    position: relative;
    top: -63px;
}

#top_photos {
    position: relative;
    top: -63px;
}

#top_cont {
    position: relative;
    top: -63px;
}


h2 {
    position: relative;
    top: -28px;
    background-color: rgba(15, 15, 15, 1);
    font-size: 33px;
    padding: 20px;
    text-align: center;
    margin-bottom: 100px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}


h3 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 25px;
}

.trait {
    height: 1px;
    width: 85%;
    margin: auto;
    background: rgb(255, 140, 0);
    /* fallback for old browsers */
    margin-bottom: 50px;
}

section {
    position: relative;
    max-width: 800px;
    margin: auto;
    margin-bottom: 150px;
    padding: 50px 5%;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}

.cv {
    max-width: 1000px;
}

.intro {
    text-align: center;
    font-size: 18px;
}


.photos {
    max-width: none;
    margin: 15%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.contact {
    margin-bottom: 190px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.reseaux,
.interet {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 70px;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px #00000070;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(125deg, red, rgb(255, 140, 0));
    border-radius: 10px;
}

.inner-width {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.section-title {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service-box {
    max-width: 200px;
    padding: 10px;
    text-align: center;
    color: white;
}

.service-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid rgb(255, 140, 0);
    color: rgb(255, 140, 0);
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;
}

.service-icon i {
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 35px;
}

.service-title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.service-desc {
    font-size: 14px;
}






.timeline:before {
    margin-top: 50px;
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 1200px;
    background: white;
}

#secondTimeline:before {
    height: 650px;
}

.timeline ul {
    margin: 0;
    padding: 0;
}

.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even) {
    position: relative;
    left: 50%;
    text-align: left;
    clear: both;
}

.contenu {
    padding-bottom: 50px;
}

.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    top: 24px;
    right: -14px;
    width: 20px;
    height: 20px;
    background: rgba(20, 20, 20, 1);
    border: 3px solid rgb(255, 140, 0);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(23, 32, 42, 0.2);
}

.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    top: 24px;
    left: -12px;
    width: 20px;
    height: 20px;
    background: rgba(21, 20, 20, 1);
    border: 3px solid rgb(255, 140, 0);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(23, 32, 42, 0.2);
}

.timeline ul li h4 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0;
    font-weight: 600;
    color: white;
    white-space: nowrap;
}

.timeline ul li p {
    margin: 10px 0 0;
    padding: 0;
    font-size: 19px;
}

.timeline ul li .time h5 {
    margin: 0;
    padding: 0;
}

.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 20px;
    left: 110%;
    margin: 0;
    padding: 8px 16px;
    background: white;
    color: rgba(21, 20, 20, 1);
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(23, 32, 42, 0.2);
    white-space: nowrap;
    font-size: 23px;
}

.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 20px;
    right: 110%;
    margin: 0;
    padding: 8px 16px;
    background: white;
    color: rgba(21, 20, 20, 1);
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(23, 32, 42, 0.2);
    white-space: nowrap;
    font-size: 23px;
}


.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;
    padding: 10px;
}

.grid-item {
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: rgba(30, 30, 30, 1);
}

.span-2 {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.span-3 {
    grid-column-end: span 3;
    grid-row-end: span 4;
}

.grid-item-1 {
    background-image: url("img/competences/GIT.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item-2 {
    background-image: url("img/competences/PYTHON.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item-3 {
    background-image: url("img/competences/OFFICE.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item-4 {
    background-image: url("img/competences/JS.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item-5 {
    background-image: url("img/competences/PHP.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item-6 {
    background-image: url("img/competences/SQL.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item-7 {
    background-image: url("img/competences/ADOBE.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item-8 {
    background-image: url("img/competences/CSS3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item-9 {
    background-image: url("img/competences/C.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item-10 {
    background-image: url("img/competences/JAVA.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item-11 {
    background-image: url("img/competences/C++.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item-12 {
    background-image: url("img/competences/HTML.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item-13 {
    background-image: url("img/competences/RUBY.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item-14 {
    background-image: url("img/competences/SHARP.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item-15 {
    background-image: url("img/competences/SWIFT.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item-16 {
    background-image: url("img/competences/FLUTTER.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/*==========Skill Bar===============*/

.idiomas {
    margin: 10% auto;
}

.progress-bar {
    margin: 30px 0 10px;
    overflow: hidden;
    /*padding-left:20px;
  padding-right: 25px; /* Separate bars from container */
}

.progress-title-holder {
    padding-bottom: 7px;
    position: relative;
    margin: 5px 0;
    font-size: 22px;
    line-height: 15px;
    font-weight: 400;
}

.progress-title {
    z-index: 100;
    font-weight: bold;
}

.progress-number-wrapper {
    width: 100%;
    z-index: 10;
}

.progress-number-mark {
    margin-bottom: 4px;
    border-radius: 3px;
    background-color: rgb(255, 140, 0);
    padding: 0 8px;
    position: absolute;
    bottom: 0;
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.progress-number-wrapper,
.progress-number-mark {
    font-size: 15px;
    line-height: 24px;
    height: 24px;
    letter-spacing: 0px;
    font-weight: 600;
    font-style: normal;
    text-transform: none;
    color: #ffffff;
    white-space: nowrap;
}

.down-arrow {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid rgb(255, 140, 0);
    position: absolute;
    left: 50%;
    top: 100%;
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.progress-content-outter {
    height: 12px;
    background-color: white;
}

.progress-content {
    height: 21px;
    background-color: rgb(255, 140, 0);
    width: 0%;
    /* Initial value */
}



@media screen and (max-width: 1600px) {
    h1 {
        font-size: 50px;
        margin-top: 50px;
    }

    .sousTitre {
        font-size: 30px;
        height: 35px;
        margin: 20px auto;
    }

    #landingPageContent {
        text-align: center;
        position: relative;
        top: 100px;
        margin: 190px;
    }

    #links {
        font-size: 30px;
        margin: 380px auto 30px;

    }

    .photos {
        margin: 5%;
    }
}


@media screen and (max-width: 1050px) {
    h1 {
        font-size: 50px;
        margin-top: 50px;
    }

    .sousTitre {
        font-size: 30px;
        height: 35px;
        margin: 15px auto;
    }

    #landingPageContent {
        text-align: center;
        position: relative;
        top: 100px;
        margin: 180px auto 150px;
    }

    .photos {
        margin: 0;
    }

    .timeline:before {
        height: 1250px;
    }

    #secondTimeline:before {
        height: 700px;
    }
}

@media screen and (max-width: 800px) {
    #fleche {
        display: none;
    }

    .timeline:before {
        display: none;
    }

    .timeline ul li {
        width: 100%;
    }

    .timeline ul li:nth-child(even) {
        left: 0;
    }

    .timeline ul li:nth-child(even) .time {
        display: none;
    }

    .timeline ul li:nth-child(odd) {
        text-align: left;
    }

    .timeline ul li:nth-child(odd):before {
        left: -14px;
    }

    .timeline ul li:nth-child(odd) .time {
        display: none;
        position: relative;
        left: 0;
        top: -160px;
        max-width: 200px;
        background: none;
        color: orange;
        box-shadow: none;
        padding: 0;
    }

    .timeline ul li h4 {
        white-space: normal;
    }

    #landingPageContent {
        top: 200px;
        z-index: 15;
        margin: 50px 0 50px 0;
    }
}

@media screen and (max-width: 426px) {
    h1 {
        font-size: 40px;
        width: unset;
    }

    h2 {
        display: none;
    }

    #landingPageContent {
        top: 0;
        margin: 230px 0 0;
    }

    .sousTitre {
        width: unset;
    }

    .navigation {
        width: unset;
    }

    #links {
        margin: 220px auto 100px;
        transition: 0.5s;
    }


    .slide {
        display: block;
        position: fixed;
        right: 20px;
        font-size: 35px;
        margin-top: 15px;

    }

    .navigation {
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 1);
        overflow: hidden;
        padding-top: 30px;
        transition: 0.7s;
        flex-direction: column;
        text-align: right;
        justify-content: center;
    }

    .navigation li a {
        display: block;
        white-space: nowrap;
        padding: 30px 30px;
        font-size: 20px;
        text-decoration: none;
        word-wrap: inherit;
        transition: 0.3s;
    }

    .navigation li a:hover {
        transition: 0.4s;
        text-shadow: 0 0 10px white;
        cursor: url('cursor.cur'), pointer;
    }

    .navigation .close {
        position: absolute;
        top: 0;
        right: 22px;
        margin-left: 50px;
        font-size: 36px;
    }

    .slide li a {
        z-index: 8;
        position: fixed;
        top: 20px;
        left: 20px;
        font-size: 36px;
    }

    #navContent {
        padding-left: 20px;
        transition: margin-left 0.7s;
        overflow: hidden;
        width: 100%;
    }

    .filtre {
        z-index: 29;
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        transition: 0.5s;
    }


    section {
        margin-bottom: 50px;
        padding: 10px 10px;
    }

    .timeline ul li {
        list-style: none;
        position: relative;
        width: 100%;
        padding: 20px 0 0 40px;
        box-sizing: border-box;
    }

    .timeline ul li:nth-child(odd):before {
        left: 0;
    }

    .timeline ul li:nth-child(even):before {
        left: 0;
    }

    html {
        background: url("img/mobile_clouds.png") center 0 no-repeat fixed;
        height: 100%;
        width: 100%;
        background-size: cover;
    }

    body {
        background: none;
    }

    #slide1 {
        background: none;
        height: 100%;
    }

    #slide2 {
        background: none;
    }

    #slide3 {
        background: none;
    }

    #slide4 {
        background: none;
        padding-bottom: 100px;
    }

    #slide5 {
        background: none;
    }

    .grid-item {
        background-color: rgba(30, 30, 30, 0);
    }
}